/* Estilização geral */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo do título */
.title {
    text-align: center;
    margin: 20px 0;
}

h1 {
    font-size: 2.5em;
    color: #4CAF50; /* Verde moderno */
}

/* Estilo do formulário */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #4CAF50; /* Verde moderno */
    outline: none;
}

/* Estilo do botão */
.button_enviar {
    text-align: center;
}

input[type="submit"] {
    background-color: #4CAF50; /* Verde moderno */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Verde escuro ao passar o mouse */
}

/* Estilo da tabela */
table {
    max-width: 700px;
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #c5c2c2;
}

tr:hover {
    background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
}

/* Responsividade */
@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    input[type="submit"] {
        width: 100%;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 10px;
    }
}
